<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../style/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
        integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"
        integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"
        integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <!-- //Topo -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DevHub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projeto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Comunidade</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- //input -->
    <form id="frmLogin">
        <h3>Login</h3>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Categoria</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Horas Trabalhadas</label>
                <input type="password" class="form-control" id="senha">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">  '</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </form>


    <script>
        const form = document.querySelector("form");

        form.addEventListener("submit", async (event) => {
            event.preventDefault();
            const categoria = document.querySelector("#categoria").value;
            const horas_trabalhadas = document.querySelector("#horas").value;
            const linha_de_codigo = document.querySelector("#linhas").value;
            const bugs_corrigidos = document.querySelector("#bugs").value;

            // Cria o objeto que será enviado
            const dados = {
                categoria,
                horas_trabalhadas,
                linha_de_codigo,
                bugs_corrigidos
            };

            try {
                // Faz o POST para o back-end
                const response = await fetch("http://localhost:3000/logs", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(dados)
                });

                if (response.ok) {
                    alert("Dados enviados com sucesso!");
                    form.reset();
                } else {
                    alert("Erro ao enviar os dados!");
                }
            } catch (error) {
                console.error(error);
                alert("Erro na comunicação com o servidor!");
            }
        });
    </script>
</body>




</html>