<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
        integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"
        integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"
        integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="../style/main.css">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">DevHub</span>
        </div>
    </nav>

    <main>

        <section class="card-user">
            <div class="container">
                <div class="rounded-1">
                    <div class="container-fluid">
                        <div id="metricas"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-logs">
            <section>
                <div class="novo-log-container">
                    <button id="btn-novo-log"><a href="/back-end/src/view/logs.html">+ Novo Log</a></button>
                </div>
            </section>

            <div class="container">
                <div class="p-5 mt-5 rounded-1">
                    <div class="conteiner-fluid">
                        <div id="categoria">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-activities">
            <div class="container">
                <div class="p-5 mt-5 rounded-1">
                    <div class="conteiner-fluid">

                    </div>
                </div>
              
            </div>
        </section>

    </main>
</body>

<script>
    
    const urlMetrica = "http://localhost:3000/metricas-usuario/1";
    fetch(urlMetrica)
        .then(res => res.json())
        .then(data => {
            let metricasHTML = "";
            if (data && Array.isArray(data)) {
                data.forEach(element => {
                    metricasHTML += `
                        <div class="card-usuario">
                            <b>Dados do Usuário: </b><br>
                            ${element.nome} <br> 
                            Horas Totais: ${element.qtde_horas_trabalhadas} <br>
                            Bugs Totais: ${element.qtde_bugs_corrigidos} <br>
                            Logs Totais: ${element.qtde_logs} <br>
                        </div>
                    `;
                });
            }
            document.getElementById("metricas").innerHTML = metricasHTML;
        })
        .catch(error => console.log("ERROR: ", error));
    
    
    const urlCategoria = "http://localhost:3000/logs?pagina=1&quantidade=50";
    fetch(urlCategoria)
        .then(res => res.json())
        .then(data => {
            let categoriasHTML = "";
            if (data && Array.isArray(data)) {
                data.forEach(element => {
                    categoriasHTML += `
                    <div style="border-radius: 4px; border: 1px #cacaca solid; padding: 20px;">
                        <b> Usuario: ${element.nome} </b>
                        <div>
                            Categoria: ${element.categoria} <br>
                            <div class="dadinhos">Horas Trabalhadas ${element.horas_trabalhadas}  <br></div>
                            <div class="dadinhos">Linhas Totais de Código ${element.linhas_codigo} <br></div>
                            <div class="dadinhos">Bugs Corrigidos ${element.bugs_corrigidos} <br></div>
                        </div>
                        <div class="icons">
                            <button class="botao like-btn" data-log-id="${element.id}"><img src="../icons/heart.svg" alt=""></button>
                            <span class="like-count" id="like-count-${element.id}">${element.likes || 0}</span>
    
                            <button class="botao comment-btn" data-log-id="${element.id}"><img src="../icons/comment.svg" alt=""></button>
                            <span class="comment-count" id="comment-count-${element.id}">${element.qnt_comments || 0}</span>
                        </div>
                        <div class="comments-container" id="comments-${element.id}"></div>
                        <input type="text" placeholder="Escreva um comentário..." class="comment-input" data-log-id="${element.id}">
                        <button class="comment-submit" data-log-id="${element.id}">Comentar</button>
                    </div>
                    `;
                });
            }
            document.getElementById("categoria").innerHTML = categoriasHTML;
    
          
            document.querySelectorAll(".like-btn").forEach(btn => {
                btn.addEventListener("click", () => {
                    const logId = btn.getAttribute("data-log-id");
                    const contador = document.getElementById(`like-count ${logId}`);
                    contador.textContent = Number(contador.textContent) + 1;
                });
            });
    
      
            document.querySelectorAll(".comment-submit").forEach(btn => {
                btn.addEventListener("click", () => {
                    const logId = btn.getAttribute("data-log-id");
                    const input = document.querySelector(`.comment-input[data-log-id="${logId}"]`);
                    const texto = input.value.trim();
                    if (!texto) return;
    
                    const lista = document.getElementById(`comments-${logId}`);
                    const p = document.createElement("p");
                    p.textContent = texto;
                    lista.appendChild(p);
                    input.value = "";
    
                    const contadorComentarios = document.getElementById(`comment-count-${logId}`);
                    contadorComentarios.textContent = Number(contadorComentarios.textContent) + 1;
                });
            });
        })
        .catch(error => console.log("ERROR: ", error));
    </script>    
</html